__pycache__/
*.py[cod]

.venv/
venv/
env/
opencv_env/

runs/
*.pt
*.onnx
*.engine

*.cache

debug_regions/*
outputs/*

output_*.jpg
output_*.png

stamp_detection_results.csv

temp_*.jpg

.vscode/
.idea/

Thumbs.db
.DS_Store
